.card {
  padding: 10px 30px 30px;
  box-shadow: 0 0 30px rgb(255, 128, 128);
}
.form-group,
h2 {
  margin-bottom: 40px;
}
.login-page {
  background-color: #ffe7e7;
  padding: 30px;
  min-height: 100vh;
}
